<div class="text-center">
  <h2>{{book.name}}</h2>
  {{!-- <P>{{PHOTO}}</P> IF WE HAVE TIME, WE CAN GET TO THIS --}}
  <p>{{book.description}}</p>

  <p>
    <span class="reviews">{{user.review}}</span>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </p>

  <form class="form review-form">
    <div class="form-group">
      <label for="book-desc">Add your review:</label>
      <textarea class="form-input" id="book-desc" name="book-desc"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>

</div>